.weather {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1rem;
  width: inherit;
  height: 12rem;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #444;
}

.weatherImage {
  width: 50px;
  height: 50px;
  background-color: black;
}

.weatherDiscription {
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgb(213, 255, 196);
}

.temp {
  font-size: 50px;
  font-weight: 700;
}

.description {
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
}

.city {
  font-size: 15px;
  font-weight: 400;
}
