.background {
  width: 40rem;
  box-shadow: 0px 0px 5px #444;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.main {
  display: flex;
}

.bar {
  display: flex;
  height: 2.3rem;
  background-color: #eceff7;
  width: 100%;
  overflow: hidden;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  position: relative;
}

.circle {
  margin: 0 auto;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
}

.red {
  background-color: #ff5f57;
  border: 0.5px solid #e04038;
  left: 20px;
}

.yellow {
  background: #febc2d;
  border: 0.5px solid #df9d0e;
  left: 45px;
}

.green {
  background: #28c840;
  border: 0.5px solid #20af3a;
  left: 70px;
}
