.bottomBar {
  position: fixed;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(255, 255, 255, 0.5);
  width: 32rem;
  height: 4rem;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bottomBar > div {
  border-radius: 17px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomBar > div > img {
  width: 3.8rem;
  height: 3.8rem;
  object-fit: cover;
}
